<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Converter</h1>
    <script defer="true" src="./static/index.js"></script>

    <div class="upload">
        <form method="get">
           Upload File: <input type="file" id="uploadel" name="upload">
           <input type="submit">
        </form>
    </div>
</head>
<body>
    
</body>
</html>